<%= form_with model: @user, url: "/users/create", local: true do |form| %>
    <% @user.errors.full_messages.each do |message| %>
        <p><%= message %></p>
    <% end %>
    <div>
        <%= form.label :name, "名前" %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :email, "メールアドレス" %>
        <%= form.email_field :email %>
    </div>
        <%= form.label :password, "パスワード" %>
        <%= form.password_field :password %>
    <div>
    <%= form.submit %>
<% end %>
